<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
    <meta charset="UTF-8">
    <meta name="author" content="Tomas Rigaux">

    <!-- External Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- External Links-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--link rel="stylesheet" href="/resources/demos/style.css"-->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

    <!-- Internal Scripts -->
    <script src="/static/scripts/ProcessVideo.js" type="text/javascript"></script>
    <script src="/static/scripts/opencv.js" type="text/javascript"></script>

    <!-- Internal Links -->
    <link rel="stylesheet" type="text/css" href="/static/style/ui.css">
    <link rel="stylesheet" type="text/css" href="/static/style/video.css">

    <title>Fish Finder</title>
</head>

<body>
    <div class="navbar">
        <div class="nav-header">Fish Finder</div>
        <div class="dropdown">
            <div class="nav-item"><i class="material-icons">&#xe1db;</i>&emsp;Processed Videos</div>
            <div class="dropdown-content files" id="files">
                {{if .Files}}
                    {{range $i , $f := .Files}}
                        <div class="file-item">{{ $f }}</div>
                    {{end}}
                {{else}}
                    <div class="no-file">No Files to select. Please upload some!</div>
                {{end}}
            </div>
        </div>
        <div class="dropdown">
            <div class="nav-item"><i class="material-icons">cloud_upload</i>&emsp;Upload Videos</div>
            <div class="dropdown-content">
                <form method="post" enctype="multipart/form-data" id="upload-video" action="/upload/">
                    <!--TODO: Get camera names from database -->
                    <!--input type="text" name="left-cam"  placeholder="Enter left camera name" >
                    <input type="text" name="right-cam" placeholder="Enter right camera name"><br>-->
                    <input type="file" name="upload-files" multiple><br>
                    <input type="submit" value="Upload Videos" />
                </form>
            </div>
        </div>
        <div class="dropdown">
            <div class="nav-item"><i class='material-icons'>&#xe3af;</i>&emsp;Calibrate Cameras</div>
            <div class="dropdown-content">
                <form method="post" enctype="multipart/form-data" id="calibrate-cameras" action="/calibrate/">
                    <input name="left-camera" type="text" placeholder="Enter Left Camera Name" required>
                    <input type="file" name="left-camera-files" multiple><br>
                    <input name="right-camera" type="text" placeholder="Enter Right Camera Name" required>
                    <input type="file" name="right-camera-files" multiple><br>
                    <input type="submit" value="Run Calibration"/>
                </form>
            </div>
        </div>
        <div class="dropdown">
            <div class="nav-item"><i class='fab fa-github' style="font-size: 28px;"></i>
                <a href="https://github.com/cisco/goFish.git" target="_blank">&emsp;Github</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sidenav" id="processes" hidden>
            {{if .Processes}}
                {{range $i , $p := .Processes}}
                    <div class="process">{{ $p.ID }}</div>
                {{end}}
            {{end}}
        </div>
        <div id="main-video" class="panel">
            <div class="panel-body">
                <canvas id="adjusted-video" width="1066" height="400"></canvas>
                <br>
                <canvas id="event-time-bar" width="4000" height="40"></canvas>
                <br>
                <div id="adjusted-time"></div>
                <div id="controls">
                    <button onclick="SeekBack()"><i class="material-icons">&#xe045;</i></button>
                    <button id="play-pause"><i class="material-icons">&#xe037;</i></button>
                    <button onclick="SeekForward()"><i class="material-icons">&#xe044;</i></button>
                </div>
            </div>
        </div>
        {{if .PageInfo.VideosLoaded}}
        <div id="videos" class=panel hidden>
            <div class="panel-header">Videos</div>
            <div class="panel-body" style="display: flex;">
                <div id="selected-video">
                    <video width="320" height="240" controls class="video" id="selected">
                        <source src="/static/temp/{{.PageInfo.VideoInfo.Name}}" type="video/mp4">
                        Video tag is not supported by your current browser.
                    </video>
                </div>
                <div id="json-config" hidden>{{.PageInfo.VideoInfo.JSON}}</div>
            </div>
        </div>
        {{if .DBInfo}}
        <div id="info-panel" class="panel" hidden>
            <div class="panel-header">Info</div>
            <div class="panel-body">
                <form method="post" name="attributes-form" id="attributes-form">
                    <label for="family">Family</label>
                    <select name="family" id="family">
                    {{range .DBInfo.Family}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                    </select>
                    <br>
                    <label for="genus">Genus</label>
                    <select name="genus" id="genus">
                    {{range .DBInfo.Genera}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                    </select><br>
                    <label for="species">Species</label>
                    <select name="species" id="species">
                    {{range .DBInfo.Species}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                    </select><br>
                    <label for="stage">Stage</label>
                    <select name="stage" id="stage">
                    </select><br>
                    <label for="activity">Activity</label>
                    <select name="activity" id="activity">
                    </select><br>
                    <label for="comment">Comment</label>
                    <textarea name="comment" id="comment"></textarea><br>
                    <input type="number" id="found-frame" hidden/><br>
                    <input type="submit" value="Submit" />
                </form>
                <hr>
                <code>
                    Length:     <span></span><br>
                    Precision:  <span></span><br>
                    Range:      <span></span><br>
                </code>
            </div>
        </div>
        {{end}}
        <div id="tools" class="panel vertical">
            <div class="panel-header"><button class="window-btn" id="toolbar-shape"><i class="material-icons">&#xe5cf;</i></button></div>
            <div class="panel-body">
                <div class="toolbar">
                    <button id="ruler" onclick="toolkit.SetMode(0, this)"><i class="material-icons">&#xe41c;</i></button>
                    <button id="clear-ruler" onclick="toolkit.SetMode(1, this)" hidden><i class="material-icons">&#xe888;</i></button>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <div class="footer">

    </div>
    <script src="/static/scripts/Canvas.js" type="text/javascript"></script>
    <script src="/static/scripts/Loader.js" type="text/javascript"></script>
    
    <noscript>Whoops! It looks like your browser doesn't support JavaScript!</noscript>
</body>
</html>