body {
    padding: 0;
    margin: 0;
    /*background: linear-gradient(to right, #004BAF , #097DBC , #049FD9, #097DBC,  #004BAF );*/
    overflow-x: hidden;
}

.navbar {
    display: flex;
    background: linear-gradient(#097DBC, #049FD9 );
    color: #EFEFEF;
    max-width: 100%;
    margin: 0;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 1.5em;
}

.navbar > div {
    padding: 0.5em;
}

.nav-header {
    border-right: 1px solid #097DBC;
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 0.8em !important;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(2em, auto);
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.panel {
    margin: 10px;
    padding: 0;
    border-radius: 10px;
    border: 1px solid #C6C7CA ;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.panel-header{
    display: flex;
    background: linear-gradient(#097DBC, #049FD9 );
    padding: 0.5em;
    color: #EFEFEF;
    align-items: center;
    font-size: 1em;
}

.panel-body {
    background: #E8EBF1 ;
    padding: 1em;
    height: 100%;
}

.window-btn {
    padding: 0;
    background: none;
    border: none;
    color: #FFFFFF;
}

.window-btn:active {
    color: #C6C7CA;
}

.dropdown{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: 2%;
    max-width: 2%;
    transition: 0.5s ease-in-out;
}

.nav-item {
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
}

.nav-item > a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.dropdown-content {
    overflow: hidden;
    height: auto;
    max-height: 0;
    width: auto;
    max-width: 0;
    position: absolute;
    padding-right: 1em;
    margin: 0.5em -0.5em;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: #000000;
    z-index: -1;
    transition: max-width 0.5s ease-in-out;
}

.dropdown > div {
    overflow: hidden !important;
}

.dropdown:hover {
    min-width: 13.45%;
    background: #097DBC;
}

.dropdown:hover .dropdown-content {
    max-height: 200px;
    max-width: 13.42%;
    z-index: 1;
}

form {
    margin: 0;
    padding: 10px;
}

dd {
    border-left: 1px solid #000000;
    margin-left: 0.5em;
    padding-left: 0.5em;
}
