body {
    padding: 0;
    margin: 0;
    /*background: linear-gradient(to right, #004BAF , #097DBC , #049FD9, #097DBC,  #004BAF );*/
    overflow-x: hidden;

    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Navbar */
.navbar {
    display: flex;
    background: linear-gradient(#097DBC, #049FD9 );
    color: #EFEFEF;
    max-width: 100%;
    margin: 0;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 1.5em;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.navbar > div {
    padding: 0.5em;
}

.nav-header {
    border-right: 1px solid #097DBC;
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 0.8em !important;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
}

.nav-item > a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
/* End Navbar */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(2em, auto);
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Panel */
.panel {
    margin: 10px;
    padding: 0;
    border-radius: 10px;
    border: 1px solid #C6C7CA ;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.panel-header{
    display: flex;
    background: linear-gradient(#097DBC, #049FD9 );
    padding: 0.5em;
    color: #EFEFEF;
    align-items: center;
    font-size: 1em;
}

.panel-body {
    background: #E8EBF1 ;
    padding: 1em;
    height: 100%;
}
/* End Panel */

.window-btn {
    padding: 0;
    background: none;
    border: none;
    color: #FFFFFF;
}

.window-btn:active {
    color: #C6C7CA;
}

/* Dropdown */
.dropdown{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: 34px;
    max-width: 34px;
    transition: 0.5s ease-in-out;
}

.dropdown-content {
    overflow: hidden;
    height: auto;
    max-height: 0;
    width: auto;
    min-width: 0;
    max-width: 0;
    position: absolute;
    padding-right: 1em;
    margin: 0.5em -0.5em;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: #000000;
    z-index: 1;
    transition: inherit;
}

.dropdown > div {
    overflow: hidden;
}

.dropdown:hover {
    min-width: 226px;
    background: #097DBC;
}

.dropdown:hover .dropdown-content {
    max-height: 200px;
    min-width: 226px;
    max-width: 226px;
    z-index: 1;
}

.dropdown-content.files {
    overflow-y: scroll !important;
    overflow-x: hidden;
}
/* End Dropdown */

form {
    margin: 0;
    padding: 10px;
}

/* File selection */
.file-item, .no-file {
    margin: 0;
    padding: 10px;
    font-size: 0.75em;
    background: #FFFFFF;
    width: 102%;
    user-select: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.file-item:hover {
    background: #64BBE3;
    color: #FFFFFF;
    cursor: pointer;
}

.file-item:active {
    background: #9E9EA2;
}
/* End file selection */

/* Sidenav */
.sidenav {
    height: 100%;
    width: 200px;
    display: none;
    position: absolute;
    background: #E8EBF1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#show-process {
    font-size: 1.2em;
}
/* End Sidenav */

/* Processes */
.process {
    background: #DFDFDF;
    border-bottom: 1px solid #C6C7CA;
    padding: 1em;
}

.process > .id {

}

.process > .name {
    padding-right: 1em;
}


.process > .status {
    display: inline-block;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 18px;
    height:18px;
}
.process > .status.active {
    background: #6CC04A;
}
.process > .status.dead {
    background: #8B1001;
}
/* End Processes */
