/* Resizing the Google glyphicons. */
.material-icons {
    font-size: 1.5em !important;
}

#upload-files + label {
    padding: .5em 1em;
    margin-bottom: 1em;
    font-size: 0.7em;
    display: inline-block;
}

/* Video Related */ 
#videos {
    grid-column: 3 / 11;
}
#main-video {
    display: inline-block;
    text-align: center;
    grid-column: 1 / 13;
    grid-row: 1;
}
#main-video > .panel-body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1em, auto);
}
#adjusted-video {
    background: #111111 ;
    grid-column: span 12;
}
#adjusted-time {
    grid-column: span 12;
}
#event-time-bar {
    background: #191919;
    width: 100%;
    height: 2em;
    border-radius: 5px;
    border: 1px solid #57585b;
    grid-column: span 12;
}
/* End Video Related */

/* Controls */
button {
    box-shadow: 0px 2px #2b5491;
}
button.active {
    background: #6CC04A !important;
    box-shadow: 0px 2px #00AD0B;
}
#controls {
    display: flex;
    justify-content: center;
    height: 2em;
    grid-column: 6 / 8;
}
#controls > button:first-child {
    background: #049FD9;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px 0 0 5px;
}
#controls > button {
    background: #049FD9;
    color: #FFFFFF;
    margin: 1px;
    padding: 0.5em 1em;
    border: none;
}
#controls > button:last-child {
    background: #049FD9;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 5px 5px 0;
}
#controls > button:hover {
    cursor: pointer;
}
#controls > button:active {
    background: #097DBC;
}
/* End Controls */

/* Toolkit */
#tools {
    grid-column: 12;
    height: 2em;
    
}
.toolbar {
    display: flex;
    justify-content: flex-end;
}
.toolbar > button:first-child {
    background: #049FD9;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px 0 0 8px !important;
    margin-right: 0.5px !important;
}
.toolbar > button {
    background: #049FD9;
    color: #FFFFFF;
    margin: 1px;
    padding: 0.5em 1em;
    border: none;
}
.toolbar > button:hover {
    cursor: pointer;
}
.toolbar > button:last-child {
    background: #049FD9;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 8px 8px 0;
    margin-left: 0.5px !important;
}
.toolbar > button:active, .toolbar > button.active:active {
    background: #097DBC !important;
}
/* End Toolkit */

/* Info Panel */
#info-panel {
    position: absolute;
    height: inherit;
    text-align: left;
    margin: 15px 10px;
    padding: 1em;
    min-width: 200px;
    border-radius: 10px;
    color: #FFFFFF;
    background: rgba(34, 34, 34, 0.9);
    box-shadow: 1px 1px rgba(0,0,0,0.2);
}
#info-panel > .panel-body {
    overflow-y: scroll;
    overflow-x: auto;
}
#info-panel > .panel-header:hover {
    cursor: move;
}
#info-panel::before {
    content: " ";
    position: absolute;
    z-index: 0;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(34, 34, 34, 0.9);
    margin: 0;
    padding: 0;
    top: -10px;
    left: 10px;
}
#length {
    background: none;
    border: none;
    color: inherit;
    font-style: inherit;
    font-size: inherit;
}
/* End Info Panel */

/* Camera */
.camera {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}
/* End Camera */