/* Resizing the Google glyphicons. */
.material-icons {
    font-size: 1.5em !important;
}

#videos {
    grid-column: 3 / 11;
}

#main-video {
    display: inline-block;
    text-align: center;
    grid-column: 2 / 12;
    grid-row: 1;
}

#adjusted-video {
    background: #C6C7CA ;
}

#event-time-bar {
    background: #9E9EA2;
    width: 100%;
    height: 2em;
    border-radius: 5px;
    border: 1px solid #58585B ;
}

/* Controls */
#controls {
    display: flex;
    justify-content: center;
}

#controls > button:first-child {
    background: #049FD9;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px 0 0 5px;
}

#controls > button {
    background: #049FD9;
    color: #FFFFFF;
    margin: 1px;
    padding: 0.5em 1em;
    border: none;
}

#controls > button:last-child {
    background: #049FD9;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 5px 5px 0;
}

#controls > button:active {
    background: #097DBC;
}
/* End Controls */

/* Toolkit */
#tools {
    position: absolute;
}

#tools.vertical > div > .toolbar {
    flex-direction: column;
}

.toolbar {
    display: flex;
    margin: -1em;
}

.toolbar > button:first-child {
    background: #049FD9;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 0 0 8px !important;
}

.toolbar > button {
    background: #049FD9;
    color: #FFFFFF;
    margin: 1px;
    padding: 0.5em 1em;
    border: none;
}

button.active {
    background: #6CC04A !important;
}

.toolbar > button:last-child {
    background: #049FD9;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 0 8px 0;
}

#tools.vertical > div > .toolbar > button:first-child {
    border: none;
    border-radius: 0 !important;
}

#tools.vertical > div > .toolbar > button {
    margin: 1px;
    padding: 0.75em;
    border: none;
}

#tools.vertical > div > .toolbar > button:last-child {
    border: none;
    border-radius: 0 0 8px 8px !important;
}

.toolbar > button:active, .toolbar > button.active:active {
    background: #097DBC !important;
}
/* End Toolkit */

#info-panel {
    position: absolute;
    grid-column: 11/13;
    text-align: left;
}

#info-panel > .panel-body {
    overflow-y: scroll;
    overflow-x: auto;
}

#info-panel > .panel-header:hover {
    cursor: move;
}

#attributes-form {

}

#attributes-form > label{
    display: inline-block;
    width: 50%;
    margin-left:-2em;
    text-align: right;
}

#attributes-form > label::after{
    content: ":";
}

#attributes-form > select, #attributes-form > input, #attributes-form > textarea {
    float: right;
    margin-right: -1em;
    width: 70%;
}

#attributes-form > textarea {
    resize: none;
}